
.game-interface
	text-align: center
	margin-top: 40px

bradius(n)
	-webkit-border-radius n
	-moz-border-radius n
	border-radius n

wh(w,h)
	width w
	height h

.hole 
	display: inline-block
	wh(100px, 50px)
	border: 1px solid #000000
	-webkit-border-radius: 100px / 50px
	-moz-border-radius: 100px / 50px
	border-radius: 100px / 50px
	margin-right: 40px
	position: relative
	cursor: pointer
	&:hover
		background-color: #f1f1f1

.hole:nth-child(even)
	top: 50px

.man
	wh(50px, 50px)
	bradius(50px)
	margin: 0 auto

.bad-guy
	background-color: red

.good-guy
	background-color: green
