
.game-interface
	text-align: center
	margin-top: 40px

bradius(n)
	-webkit-border-radius n
	-moz-border-radius n
	border-radius n

.hole 
	display: inline-block
	width: 100px
	height: 50px
	border: 1px solid #000000
	-webkit-border-radius: 100px / 50px
	-moz-border-radius: 100px / 50px
	border-radius: 100px / 50px
	margin-right: 40px
	position: relative
	cursor: pointer
	&:hover
		background-color: #f1f1f1

.hole:nth-child(even)
	top: 50px

.man
	width: 50px
	height: 50px
	bradius(50px)

.bad-guy
	background-color: red

.good-guy
	background-color: green
