
.game-interface
	text-align: center
	margin-top: 40px

.hole 
	display: inline-block
	width: 100px
	height: 50px
	border: 1px solid #000000
	-webkit-border-radius: 100px / 50px
	-moz-border-radius: 100px / 50px
	border-radius: 100px / 50px
	margin-right: 40px
	position: relative
	cursor: pointer
	&:hover
		background-color: #f1f1f1

.hole:nth-child(even)
	top: 50px